<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Datamap</display-name>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <servlet>
        <servlet-name>CreateDatamap</servlet-name>
        <servlet-class>com.redoute.datamap.servlet.datamap.CreateDatamap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDatamap</servlet-name>
        <servlet-class>com.redoute.datamap.servlet.datamap.UpdateDatamap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDatamap</servlet-name>
        <servlet-class>com.redoute.datamap.servlet.datamap.DeleteDatamap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindAllDatamap</servlet-name>
        <servlet-class>com.redoute.datamap.servlet.datamap.FindAllDatamap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindAllPicture</servlet-name>
        <servlet-class>com.redoute.datamap.servlet.picture.FindAllPicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPicture</servlet-name>
        <servlet-class>com.redoute.datamap.servlet.picture.UploadPicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPicture</servlet-name>
        <servlet-class>com.redoute.datamap.servlet.picture.AddPicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePicture</servlet-name>
        <servlet-class>com.redoute.datamap.servlet.picture.DeletePicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePicture</servlet-name>
        <servlet-class>com.redoute.datamap.servlet.picture.UpdatePicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDistinctValueFromTableColumn</servlet-name>
        <servlet-class>com.redoute.datamap.servlet.GetDistinctValueFromTableColumn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateDatamap</servlet-name>
        <url-pattern>/CreateDatamap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDatamap</servlet-name>
        <url-pattern>/UpdateDatamap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDatamap</servlet-name>
        <url-pattern>/DeleteDatamap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindAllDatamap</servlet-name>
        <url-pattern>/FindAllDatamap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindAllPicture</servlet-name>
        <url-pattern>/FindAllPicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPicture</servlet-name>
        <url-pattern>/UploadPicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPicture</servlet-name>
        <url-pattern>/AddPicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePicture</servlet-name>
        <url-pattern>/DeletePicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePicture</servlet-name>
        <url-pattern>/UpdatePicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDistinctValueFromTableColumn</servlet-name>
        <url-pattern>/GetDistinctValueFromTableColumn</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Datamap.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>webappdatamap.root</param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/classes/log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!--    <filter>
        <filter-name>MDCFilter</filter-name>
        <filter-class>com.redcats.vc.srv.log4j.MdcFilter</filter-class>
        <init-param>
            <param-name>urls</param-name>
            <param-value>index.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>MDCFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <!--End Spring Configuration -->
</web-app>
